{
    "layer": "top",
    "position": "top",
    "spacing": 0,
    "margin-bottom": 0,
    "reload_style_on_change": true,

    "modules-left": [
        "hyprland/workspaces"
	// "wlr/taskbar"
    ],

    "modules-center": [
    ],

    "modules-right": [
        //"tray",
        "bluetooth",
        "battery",
        "pulseaudio",
//        "custom/swww",
        "network",
        "network#2",
        "group/clocks"
    ],

    "hyprland/workspaces": {
    	"disable-scroll": false
    },

    "group/clocks": {
        "orientation": "inherit",
        "drawer": {
            "transition-duration": 500,
            "children-class": "child-clocks",
            "transition-left-to-right": false
        },
        "modules": [
            "clock#dublin",
            "clock#recife"
        ]
    },

    "clock#dublin": {
	    "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
	    "format": "  {:%R}",
	    "format-alt": "{:%F %T}",
	    "interval": 1
    },

    "clock#recife": {
        "timezone": "America/Recife",
	    "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
	    "format": "  Recife: {:%R}",
	    "format-alt": "{:%F %T}",
	    "interval": 1
    },

    "tray": {
        "spacing": 10
    },

    "battery": {
	    "bat": "BAT0",
	    "interval": 120,
	    "states": {
		"warning": 15,
		"critical": 5
	    },
	    "format": "{icon}  {capacity}%",
	    "format-icons": ["", "", "", "", ""],
	    "max-length": 25
    },

    "pulseaudio": {
        "format": "{icon} {volume}%",
        "format-bluetooth": "{icon}  {volume}% ",
        "tooltip": false,
        "format-muted": " Muted",
        "on-click": "pamixer -t",
        "on-scroll-up": "pamixer -i 5",
        "on-scroll-down": "pamixer -d 5",
        "scroll-step": 5,
        "format-icons": {
            "headphone": "",
            "hands-free": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["", "", ""]
        }
    },

    "bluetooth": {
	"format": " {status}",
	"format-connected": " {num_connections}",
	"tooltip-format": "{controller_alias}\t{controller_address}",
	"tooltip-format-connected": "{controller_alias}\t{controller_address}\n\n{device_enumerate}",
	"tooltip-format-enumerate-connected": "{device_alias}\t{device_address}",
	"tooltip-format-enumerate-connected-battery": "{device_alias}\t{device_address}\t{device_battery_percentage}%",
	"on-click": "blueman-manager"
    },

    "network": {
	    "interface": "enp*",
	    "format": "{ifname}",
	    "format-wifi": "  {essid} ({signalStrength}%)",
	    "format-ethernet": "  Wired",
	    "format-disconnected": "", //An empty format will hide the module.
	    "tooltip-format": "{ifname} via {gwaddr} 󰊗",
	    "tooltip-format-wifi": "{essid} ({signalStrength}%) ",
	    "tooltip-format-ethernet": "{ifname} ",
	    "tooltip-format-disconnected": "Disconnected",
	    "max-length": 50
    },

    "network#2": {
	    "interface": "wlan0",
	    "format": "{ifname}",
	    "format-wifi": "  {essid} ({signalStrength}%)",
	    "format-ethernet": "  Wired",
	    "format-disconnected": "", //An empty format will hide the module.
	    "tooltip-format": "{ifname} via {gwaddr} 󰊗",
	    "tooltip-format-wifi": "{essid} ({signalStrength}%) ",
	    "tooltip-format-ethernet": "{ifname} ",
	    "tooltip-format-disconnected": "Disconnected",
	    "max-length": 50
    }
}
